[submodule "lib/nvector"]
	path = lib/nvector
	url = https://github.com/swillner/nvector.git
[submodule "lib/settingsnode"]
	path = lib/settingsnode
	url = https://github.com/swillner/settingsnode.git
[submodule "lib/cpp-library"]
	path = lib/cpp-library
	url = https://github.com/swillner/cpp-library.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/swillner/cmake-modules.git
